PACKAGE_BASENAME="#package-basename#"
SOURCE_URI="#SourceURI#"
VERSION="#version#"
TAGVERSION=#tagversion#
SOVERSION="#soversion#"
DEBVERSION="#debversion#"
PROJECT_BUILDVERSION="#buildversion#"
PACKAGE_VERSION="#package-version#"
DISTRIBUTION="#distribution#"
PACKAGE_MESSAGE="#package-message#"
ARCH="#architecture#"
