PROJECT_BUILDVERSION="#buildversion#"
SOVERSION="#soversion#"
DEBVERSION="#debversion#"
BUILD_DIR_NAME="#package-source-name#"
SOURCE_URI="#SourceURI#"
PACKAGE_BASENAME="#package-basename#"
VERSION="#version#"
PACKAGE_VERSION="#package-version#"
DISTRIBUTION="#distribution#"
PACKAGE_MESSAGE="#package-message#"
