#!/usr/bin/make -f
## Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

export DH_BUILD_DDEBS=1

DPKG_EXPORT_BUILDFLAGS=1
include /usr/share/dpkg/default.mk

# default action
%:
	dh $@ --parallel #Dh-extra-args#

override_dh_install:
	./debian/detect_libdir.sh
	dh_install
